<ul>
    <li>
        <%#
        O código abaixo é o mesmo que:
        <a href="/coins">Cadastro de Moedas </a>
        Em Rails é sempre recomendado usar código Ruby ao invés de HTML. 
        
        A rota coins_path (o mesmo que /coins) foi pega na url:
        http://localhost:3000/rails/info/routes
        %>
        <%= link_to "Cadastro de Moedas", coins_path %>
    </li>
    <li>
        <%= link_to "Cadastro de Tipos de Mineração", mining_types_path %>
    </li>
</ul>